<address>
  {% comment %} E.g., LinkedIn {% endcomment %}
  {%- for profile in basics.profiles -%}
  <a href="{{ profile.url }}">
    {{- profile.network -}}
  </a>
  {%- endfor -%}

  {% comment %} E.g., personal website {% endcomment %}
  {% if basics.url -%}
  <a href="https://{{ basics.url }}">
    {{- basics.url -}}
  </a>
  {%- endif -%}

  {%- for email in basics.emails -%}
  <a href="mailto:{{ email.email }}">
    {{- email.email -}}
  </a>
  {%- endfor -%}
</address>