<section>
  <h2>Experience</h2>
  {%- for work in resume.work %}
    <div class="experience-item">
      <div class="experience-header">
        <div>
          <h3>{{ work.name }}</h3>
          <div class="position">{{ work.position }}</div>
        </div>
        <div class="date">
          {% if work.period -%}
            {{ work.period }}
          {%- else -%}
            {{ work.startDate }} &ndash;&nbsp;{{ work.endDate }}
          {%- endif %}
        </div>
      </div>
      <ul class="highlights">
        {%- for highlight in work.highlights %}
          <li>{{ highlight }}</li>
        {%- endfor %}
      </ul>
    </div>
  {%- endfor %}
</section>