<header>
  <h1>
    {{ basics.name }}
    <br />
    <span>{{ basics.label }}</span>
    <br />
    {% if basics.location -%}
      <span>{{ basics.location.city }},{{ basics.location.region }},{{ basics.location.countryCode }}</span>
    {%- endif -%}
  </h1>
  {% 
    include "components/address.liquid", 
    basics: basics 
  %}
</header>